<div class="header">
  <h1>LINK.LY</h1>
  <h3>Shortening URLs one character at a time.</h3>

  <form action="/urls" method="post" id="submission">
    Enter URL:
    <input type="text" name="long_url" id="url-input">
    <input type="submit" value="Submit">
  </form>
</div>


<div class="full_list">
  <h4>Full Link.ly List!</h4>
  <table id="url-list">
    <tr>
      <th>Long URL</th>
      <th>Short URL</th>
      <th>Click Count</th>
    </tr>
    <% Url.all.each do |link| %>
    <tr>
      <td><%= link.long_url %></td>
      <td><a href="<%=link.short_url%>" target="_blank"> http://link.ly/<%=link.short_url%></a></td>
      <td><%= link.click_counter %></td>
    </tr>
    <% end %>
  </table>
</div>

<div class="error_message">
  <% if @errors != nil %>
      <% @errors.each do |key, value| %>
        <%= "Error: #{value[1]}" %>
      <% end %>
  <% end %>
</div>
